fastapi
uvicorn[standard]
pydantic
python-dotenv
pydantic-settings

celery
redis

python-multipart
aiofiles
uuid

sqlalchemy
alembic
psycopg2-binary

loguru

opencv-python
pillow
numpy

librosa
soundfile

torch
torchvision
torchaudio

facenet-pytorch

scikit-learn
tqdm

grad-cam

pytest
httpx

# RAG System
chromadb
sentence-transformers

# Forensic Analysis
scipy
